<body>
  <div class="container">
    <div class="form-container">
      <h1>Register</h1>
      <form id="register-form">
          <label for="new-username">Username</label>
          <input type="text" id="new-username">
          <label for="new-password">Password</label>
          <input type="password" id="new-password">
          <label for="new-password">Confirm Password</label>
          <input type="password" id="confirm-password">
          <button class="submitRegister">Register</button>
      </form>
      <p>Já tem conta? <a [routerLink]="['/login']">Login here</a></p>
  </div>
  </div>

</body>