<body>
  <div class="container">
      <div class="form-container">
          <h1>Login</h1>
          <form id="login-form">
              <label for="username">Username</label>
              <input type="text" id="username" placeholder="Username">
              <label for="password">Password</label>
              <input type="password" id="password" placeholder="Password">
              <button class="submit">Login</button>
          </form>
          <p>Não tem conta? <a [routerLink]="['/register']">Register here</a></p>
        </div>
  </div>

</body>